.bar {
  display: flex;
  margin: 2.5rem;
  margin-bottom: 5px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.label {
  background-color: rgb(155, 131, 131);
  border-radius: 5px;
  margin-left: 2.5rem;
  margin-right: 0.4rem;
  width: 11rem;
  height: 2.5rem;
}

.searchBar {
  margin: 2.5rem;
  color: white;
  display: flex;
}

.notFoundRecipes {
  background-image: url(../../images/pizza-slice-pizza-sticker-pizza-melt-cartoon-illustration-flat-cartoon-slice-pizza-vector.jpg);
  background-size: contain;
  height: 5rem;
  border-radius: 18px;
  display: flex;
  justify-content: center;
}

.span {
  background-color: rgb(229, 255, 0);
  margin: 1rem;
  margin-top: 0.5rem;
  padding: 1rem;
  font-weight: bold;
  text-shadow: 8px 8px 5px rgba(218, 26, 26, 0.5);
  border-radius: 18px;
}
